# =========================================
# Maven & Build
# =========================================
/target/
!.mvn/wrapper/maven-wrapper.jar

# Wrapper scripts
mvnw
mvnw.cmd

# Build output
/out/
*.class
*.jar
*.war
*.ear

# =========================================
# IDE / Editor
# =========================================

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/out/

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# =========================================
# OS Files
# =========================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# =========================================
# Logs & temp files
# =========================================
*.log
*.tmp
*.swp
log.txt

# =========================================
# Database / backups
# =========================================
*.sql
/Volumes/SSD1T/mysql-data/

# =========================================
# Spring Boot / Others
# =========================================
spring.log

# =========================================
# Node / frontend (si agregas frontend)
# =========================================
node_modules/
dist/
build/

# =========================================
# Ignore user-specific files
# =========================================
*.env
